@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    min-height: 100vh;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    display: none;
}

.webox-logo{
    text-align: center;
}

.popp-400{
    font-weight: 400;
}

.popp-500{
    font-weight: 500;
}

.popp-700{
    font-weight: 700;
}

.navbar{
    padding: 15px 10px;
}

.main{
    padding: 10px 50px 50px 50px;
}

.searchArea-backdrop{
    height: 250px;
    background: dodgerblue;
    border-radius: 8px;
    text-align: center;
    padding-top: 50px;
    position: relative;
}

.searchArea-backdrop h1{
    color: #fff;
    font-size: 40px;
}

.searchArea-form{
    margin-top: 35px;
    width: 600px;
    height: 60px;
    border-radius: 8px;
    border: none;
    background: #fff;
    text-indent: 35px;
    font-size: 16px;
}

.searchArea-form:focus{
    outline: none;
}

.searchArea-btn{
    position: absolute;
    top: 155px;
    right: 430px;
    height: 40px;
    width: 150px;
    border-radius: 6px;
    border: none;
    background: dodgerblue;
    color: #fff;
    cursor: pointer;
    transition: all .3s ease-in-out;
}

.searchArea-btn:hover{
    background: rgb(1, 51, 102);
}

.searchResults{
    margin-top: 45px;
}
