<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Webox | Home</title>
    <link rel="stylesheet" th:href="@{styles.css}">
</head>
<body>
    <div class="main">
        <header>
            <nav class="navbar">
                <h2 class="webox-logo popp-700">Webox</h2>
            </nav>
        </header>

        <section class="searchArea">
            <form class="searchArea-backdrop" th:action="@{/home}" th:object="${searchQuery}" method="post">
                <h1 class="popp-700"><span th:text="${videoResults == null ? 0 + ' results found' : videoResults + ' results found'}"></span></h1>
                <input type="text" placeholder="Search for Youtube videos..." class="searchArea-form" th:field="*{searchQuery}">
                <button class="searchArea-btn popp-500">Search videos</button>
            </form>
        </section>

        <section class="searchResults">
            <ul>
                <li th:each="video : ${videos}">
                    <div class="list-icon-container">
                        <a th:href="${video.url}" target="_blank">
                            <i class="fa fa-angle-right"></i>
                        </a>
                    </div>
                    <div class="list-thumb">
                        <a th:href="${video.url}" target="_blank">
                            <img alt="" th:src="${video.thumbnailUrl}" />
                        </a>
                    </div>
                    <div class="list-datetime bold uppercase font-blue" th:text="${video.publishDate}"></div>
                    <div class="list-item-content">
                        <h4 class="uppercase">
                            <a th:href="${video.url}" target="_blank" th:text="${video.title}"></a>
                        </h4>
                        <p th:text="${video.description}"></p>
                    </div>
                </li>
            </ul>
        </section>
    </div>
</body>
</html>